.header{
    background-color: black;
justify-content: center;
min-height: 10vh;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
color: white;
padding: 0 20px;
font-family: sans-serif;
}
.header ul{
display: flex;
justify-content: space-between;
align-items: center;
width: 20%;
}
