
 
    body{
        background-color: rgb(148, 16, 16); 
        color:rgb(235, 231, 227);
        text-align: center;
        font-size: larger;
        font-weight: bold;
    }
    #Navbar{
        
        /* list-style: none; */
        /* display: flex; */
        transition:all 1.3s ease;
        border-radius: 15px;
        text-decoration:rgb(39, 23, 2);
        color:rgb(215, 97, 46);
    }